.custom-table tbody td {
  color: #777;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
}

.custom-table tbody tr.active {
  background-color: #ccc;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  float: left;
}
